# @BotFather dan olingan tokenni shu yerga qo'ying
BOT_TOKEN = "8991280346:AAEy28BWoVmnpmfiYMYF4kJ7fJCn1x-CqFA"

# Sizning Telegram ID raqamingiz (admin huquqi uchun)
# ID ni bilish uchun @userinfobot ga /start yozing
ADMIN_ID = 8223476380

# Ixtiyoriy: agar Render'dan boshqa hostingda ishlatsangiz, o'z domeningizni yozing
# Render'da bu maydonni bo'sh qoldiring - u avtomatik aniqlanadi
WEBHOOK_URL = https://umbot-foen.onrender.com

# Ixtiyoriy: lokal portni o'zgartirish uchun (default: 8080)
# PORT=8080
